{% extends "layout.html.twig" %}

{% block content %}
<div class="jumbotron">
    <h1>Oops...</h1>
    <p>An error has occured. <br />
        If the error message doesn't help you fix the problem, please report to <a href="mailto:support@flagshipcompany.com">support@flagshipcompany.com</a> and explain what you were trying to do.
    </p>
    <p>
        Sorry for the inconvenience,<br />
        The Flagship Team
    </p>

</div>
</div>
{% endblock %}
